.column-wrapper {
  width: 100vw;
  height: 100%;

  .content-inner {
    // background-color: burlywood;
    width: 1047px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .heading__new-posts {
    margin: 0 auto;
    margin-bottom: 35px;
    // background-color: cadetblue;
    text-align: center;
  }

  .new-posts__container {
    // background-color: chocolate;
    display: flex;
    flex-wrap: wrap;

    .post-list {
      // border: solid 1px #c0bfbf;
      width: 324px;
      height: 300px;
      margin: 0 25px 30px 0;

      .post__thumbnail {
        width: 324px;
        height: 182.25px;
        background-size: cover;

        .img {
          border-radius: 5px;
          width: 324px;
          height: 182.25px;
        }
      }

      .post__body {
        width: 324px;
        min-height: 68px;
        padding: 12px 0;

        .title {
          width: 324px;
          min-height: 68px;
          padding: 12px 0;
        }
      }

      .writter {
        color: rgb(158, 158, 158);
      }
      a {
        color: #363738;
        text-decoration: none;
        background-color: transparent;
      }
    }

  }
}