.category-search-wrapper {
  width: 1047px;
  margin: 0 auto;
  margin-top: 50px;
}

.category-title {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 24px;
  color: #000;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
}

.heading__new-posts {
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
}

.category-posts {
  max-width: 1047px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-post-list {
  display: flex;
  flex-direction: column;
}



.posts-wrapper {
  width: 324px;;
  height: 340px;
  padding: 0 16px 16px 0;

  &:hover {
    opacity: 0.8;
  }
}


.search-posts-wrapper {
  width: 800px;
  height: 180px;
  padding: 0 20px 20px 0;
  display: flex;

  &:hover {
    opacity: 0.8;
  }
}


.search-hoge {
  display: flex;
}

.search-post__thumbnail {
  height: 180px;
}

.search-img {
  width: 260px;
  height: 180px;
}

.img {
  width: 100%;
  height: 180px;
}

.post__body {
  width: 324px;
  min-height: 68px;
  padding: 12px 0;
}

.post__title {
  color: #000;
}


.search-post__body {
  background: #fff;
  max-height: 180px;
  padding: 12px 10px;
  width: 560px;
}

.post__content {
  color: #000;
}

.title-part {
  font-size: 17px;
  font-weight: 200;
  height: 50px;
}

.content-part {
  overflow: hidden;
  padding: 4px 0;
  font-size: 14px;
  height: 80px;
}

.writter-part {
  margin-top: 3px;
  height: 15px;
  font-size: 12px;
}

a {
  color: #000;
}