// Place all the styles related to the apps/Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.like-link {
  text-decoration: none;
}

.like-btn {
  font-size: 15px;
  color:#895748;;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}