.pagination{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  color: rgb(223, 153, 23);
 }
 
 a {
  text-decoration: none;
 }

 a:hover {
   text-decoration: none;
 }

 a:active {
  text-decoration: none;
}