.todos_swiper {
  height: 500px;
  width: 1000px;
  background: #fff;
  box-shadow: 1px 0 0 1px #f8f8f8;
  overflow-x: hidden;
  margin-top: 30px;
}

.todos_topic-image {
  background: white;
  width: 550px;
  height: 270px;
}

.todos_swiper_slide {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.todos-swiper-slide_dummy {
  margin: 0 auto;
  width: 600px;
}

.todos-swiper-slide_inner {

  .todos_swiper-image {
    width: 250px;
    height: 200px;
  }
}


.todos_swiper-container {
  overflow: hidden;
}

.swiper_todos_content {
  width: 350px;
  height: 200px;
  padding: 0 10px;
  margin: 0 auto;
}

.swiper-title {
  margin-top: 20px;
}

.swiper-content {
  margin-top: 20px;
  text-align: center;
}

.todo_select_button {
  width: 80px;
  height: 25px;
  margin: 5px;
  background: #f5a53a;
  border: 1px solid #f5a53a;
  border-radius: 3px;
  cursor: pointer;
}

.todo_select_button:hover {
  opacity: 0.8;
}

.swiper-button-white:after {
  color: #f5a53a;
}
