.error_message_field {
  padding: 2px 0;
  .error_message {
    color: rgb(255, 86, 86);
    font-size: 13px;
    padding: 0 8px;
  }
}

.field_with_errors {
  border: solid 1px rgb(255, 125, 125);
  border-radius: 5px;
}
