<div class="diaries-new-wrapper">
  <div class="diaries-sidebar">
    <%= render "apps/users/apps_sidemenubar"%>
  </div>
  <%= form_with model: @diary, url: apps_diaries_path, local: true do |f| %>
    <%= render "apps/diaries/form",  f: f %>
  <% end %>
</div>