<div class="show-html">
  <%= render "show" %>
</div>

<div id="on_modal" class="hidden om2">
  <div class="on-mordal-wrapper">
    <%= link_to edit_apps_diary_path(@diary), class: "link"  do %>
      <div class="btn_1">編集</div>
    <% end %>
    <%= link_to apps_diary_path(@diary), method: :delete, data: { confirm: "【確認】日記を削除してもよろしいですか？" }, class: "link" do %>
      <div class="btn_1 d_btn">削除</div>
    <% end %>
  </div>
</div>

<script>
  $("#modal-btn").on('click', () => {
    let Boolian = $("#on_modal").hasClass('hidden')
    if (Boolian) {
      $("#on_modal").removeClass('hidden')
    } else {
      $("#on_modal").addClass('hidden')
    }
  });
</script>