<div class="show-html">
  <%= render "show" %>
</div>

<div id="on_modal" class="hidden om2">
  <div class="on-mordal-wrapper">
    <div class="btn_1"><%= link_to "編集", edit_apps_diary_path(@diary), class: "link" %></div>
    <div class="btn_1 d_btn"><%= link_to "削除", apps_diary_path(@diary), method: :delete, class: "link" %></div>
  </div>
</div>

<script>
  $("#modal-btn").on('click', () => {
    let Boolian = $("#on_modal").hasClass('hidden')
    if (Boolian) {
      $("#on_modal").removeClass('hidden')
    } else {
      $("#on_modal").addClass('hidden')
    }
  });
</script>