.container {
  width: 100%;
  height: 100%;

  .content {
    padding: 10px 25px;
    width :30%;
    margin: 0 auto;


    h1 {
      padding-bottom: 20px;
      font-weight: bold;
      color: #000;
      font-size: 20px;
    }
  
    .form-group {
      padding-bottom: 15px;
  
      .form_label {
        font-weight: bold;
      } 
  
      .form-control {
        border: solid 1px #ccc;;
        padding: 0 8px;
        height: 34px;
        width: 100%;
        font-size: 15px;
        line-height: 1;
        border-radius: 5px;
      }
    }
    .btn {
      margin-top: 10px;
      height: 34px;
      width: 100%;
    }

    hr {
      margin: 20px 0;
      border: 0;
      border-top: 1px solid #eee;
    }

    .form_link {

      .link {
        text-decoration:none; 
      }
    }
  }



}








