
<div class="admin-footer">
  <div class="footer-container">
    <div class="admin-text-center">
      <p class=" admin-footer-parts">Copyright © Ujihara Miyu</p><p>|</p>
      <p class="admin-footer-parts admin-footer-button">お問合せ</p><p>|</p>
      <p class="admin-footer-parts admin-footer-button">お知らせ</p><p>|</p>
      <p class="admin-footer-parts admin-footer-button">FAQ</p><p>|</p>
    </div>
  </div>
</div>
