
<footer>
  <div class="container">
    <div class="apps-column-wrapper">
        <div class="apps-column-inner">
          <ul class= "column-categories">
            <% Category.all.each_with_index do |category, i| %>
              <% next if i.zero? %>
                <li class="column-category-parts">
                <%= link_to apps_category_search_path(category_id: category.id) do%>
                  <div class="category-link-parts">
                    <%= image_tag category.url, class: "category-image" %>
                    <p class="category-name"><%= category.name %></p>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    <div class="text-center">
      <p>Copyright © Ujihara Miyu</p>
    </div>
  </div>
</footer>
 