.menu-wrapper {
  width: 250px;
  display: flex;
  margin-left: 20px;
}

.users-menu-list {
  width: 100%;
  height: 100%;


  .sidemenu-list {
    width: 100%;
    height: 70px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }



  .list-part {
    padding-left: 10px;
  }
}

.sidemenu-icon {
  padding: 0 10px 0 20px;
}