.diary {
  width: 100%;
  height: 200vh;
  background: #ececed;

  &-container {
    height: 100%;
    padding: 150px 0;
    width: 55%;
    margin: 0 auto;

    &-inner {
      height: 100%;
      background:white;

      .contents {
        height: 15%;
        width: calc(100% / 3); 
        background: blue;
        border: solid 1px #fff;
      }

      .content-next {
        background: pink;
        height: 10%;
      }
    }
  }
}
