.main {
  width: 100%;
  height: 100vh;

  .diary-wrapper {
    border: solid 1px rgb(197, 197, 197);
    border-radius: 5px; 
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background: white;
    display: flex;

    .pa-rl {
      padding: 12px 8px 0px 8px;
    }

    .left-conteiner {
      width: 50%;
      height: 100%;
       
      .left-contents {
        height: 100%;
        display: flex;

        .diary-image {
          position: relative;
          width: 100%;
          height: 100%;
          border: 1px solid rgb(197, 197, 197);
          margin: 0 auto;
          background: white;
                
          .image {
            position: absolute;
            width: 100%;
            height: 100%;
          }

        }
      }
    }
    .right-conteiner {
      width: 50%;

      .right-contents {
        width: 100%;
        height: 100%;

        .tittle-conteiner {
          display: flex;
          height: 8%;
          border-bottom: solid 1px #dbdbdb;
          
          .diary-title {
            width: 90%;
            font-size: 18px;
          }

          .link_parts {
            width: 10%;
            text-align: center;

            .btn {
              height: 100%;
              text-align: center;
              padding: 10px;
              color: rgb(27, 27, 27);
            }
          }
        }
        
        .diary-caption {
          min-height: 85%;
          padding: 14px;
          background: white;  
        }

        .diary-date {
          height: 7%;
          color: #767676;
          font-size: 14px;
          text-align: right;
        }
      }
    }
  }
}


