.dashboard {
  left: 250px;
  width: calc(100% - 250px);
  position: relative;

  .creation_frequency_graph {
    width: 100%;
    height: 500px;
 
    .creation_frequency_graph_inner {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .columns_creation_frequency, 
      .todos_creation_frequency {
        padding: 10px;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }

  .likecolumn-table {
    width: 100%;
    height: 100%;
    margin-top: 100px;

    .likecolumn-table-inner {
      width: 95%;
      margin: 0 auto;
    }
  }

  .unlike-btn {
    margin-right: 10px;
  }
} 