
.search-keyword-filed-container {
  position: relative;
}

.search-keyword-filed-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  z-index: 1;

  .fa-search {
    width: 20px;
    height: 20px;
  }
}


.search-keyword-field {
  width: 300px;
  height: 28px;
  padding: 0 0 0 30px;
  border: 0;
  border-bottom: 1px solid #000;
}

.admin_search-keyword-field {
  width: 300px;
  height: 28px;
  padding: 0 0 0 30px;
  border: 0;
  border-bottom: 1px solid #000;
  background: #f8f8f8;
}


input:focus {
  outline: none;
}      
  
