// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content.simple-content {
  width: 724px;
  margin: 0 auto;
}

.content-inner {
  margin: 0 auto;
  box-sizing: border-box;
}


.simple-content {
  padding: 25px;
  display: block;
}

div {
  display: block;
}

.form-group {
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-control {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

article {
  display: block;
}